#environment {
  background: #000000;
}

#base {
  background: rgb(134,107,77);
  background: linear-gradient(0deg, rgba(134,107,77,1) 0%, rgba(134,107,77,1) 10%, rgba(0,0,0,1) 76%);
}

h1#lyric {
  color: #fff;
}

.light {
  border-radius: 10px;
  width: 40px;
  height: 50px;
  background: #e5cb76;
  position: absolute;
  animation-name: lightcolorchange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition-property: right;
  right: 0;
}

.light.move {
  transition-property: right;
  transition-duration: 2.5s;
  transition-timing-function: linear;
  right: 100%;
}

@keyframes lightcolorchange {
  0%   {background: #e5cb76;}
  50%  {background: #ffffff;}
  100% {background: #e5cb76;}
}
